<% layout('/layouts/boilerplate.ejs') %>
<link rel="stylesheet" href="/style.css" crossorigin="anonymous">
<style>
  #map
  {
     width: 100%;
     height: 500px;
  }
</style>
<script>
  const mapToken = '<%- process.env.MAPTILER_API_KEY %>';
</script>
<script>
  const campground = <%- JSON.stringify(camground) %>
</script>


<div class="mapcontent mb-3">
  <div id="map"></div>
</div>
<div class="row d-flex justify-content-center offset-2">
  <div class="card col-6 mb-4" style="width: 28rem; height: fit-content;">
    <div class="card-img-top">
      <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
          <% if(camground.img && camground.img.length){ %>
          <div class="carousel-item active">
            <img src="<%=camground.img[0].url%>" class="d-block w-100" alt="/images.jpg" crossorigin="anonymous">
          </div>
          <% for(let i = 1 ;i<camground.img.length;i++){%>
          <div class="carousel-item">
            <img src="<%= camground.img[i].url %>" class="d-block w-100" alt="/images.jpg" crossorigin="anonymous">
          </div>
          <% } %>
          <%} %>
    </div>
        <% if(camground.img.length>1){%>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
        <% } %>
      </div>
    </div>
    <div class="card-body">
      <h4 class="card-title"><%=camground.title%></h4>
      <h5 class="card-title"><%=camground.location %></h5>
      <p class="card-text"><%=camground.description  %></p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Price - $<%= camground.price %>/Night</li>
      <li class="list-group-item">Posted By - <%= camground.author[0].username %> </li>
      <li class="list-group-item">Ratings - </li>
    </ul>
    <div class="card-body">
      <a href="../campgrounds/" class="card-link btn btn-primary">Back</a>
      <% if(user){ %>
        <% if(camground.author[0]._id.equals(user._id)) {%>
        <a href="/campgrounds/<%= camground._id %>/edit" class="card-link btn btn-warning">Edit</a>
        <form action="/campgrounds/<%= camground._id %>?_method=DELETE" method="post" class="d-inline mx-3">
          <button class="btn btn-danger">Delete</button>
        </form>
        <% } %>
      <% } %>
    </div>
  </div>
<div class="rating col-6 mb-4">
    <div class="content p-4">
      <% if(user){ %>
      <h2>Leave a Review</h2>
        <form action="/campgrounds/<%=camground._id%>/review" method="post" novalidate class=" needs-validation">
        <div class="d-flex">
         <label for="rate" class="form-label me-4 mt-1 ">Rating</label>
          <!-- <input type="range" name="rating" id="rate" min="1" max="5" step="1"> -->
          <fieldset class="starability-grow">
            <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="0" checked aria-label="No rating." />
            <input type="radio" id="first-rate1" name="rating" value="1" />
            <label for="first-rate1" title="Terrible">1 star</label>
            <input type="radio" id="first-rate2" name="rating" value="2" />
            <label for="first-rate2" title="Not good">2 stars</label>
            <input type="radio" id="first-rate3" name="rating" value="3" />
            <label for="first-rate3" title="Average">3 stars</label>
            <input type="radio" id="first-rate4" name="rating" value="4" />
            <label for="first-rate4" title="Very good">4 stars</label>
            <input type="radio" id="first-rate5" name="rating" value="5" />
            <label for="first-rate5" title="Amazing">5 stars</label>
          </fieldset>
        </div>
        <label for="body" class="d-block mb-2">Review</label>
        <textarea name="text" id="body" rows="4" cols="45" placeholder="Please Enter a Review" required class="form-control mb-3" style="width: 28rem;"></textarea>
      <button class="btn btn-success mb-3" id="submitbtn">Submit</button>
    </form>
    <% } %>
    <% if(camground.reviews && camground.reviews.length){ %>
      <h2 class="ms-2">All Reviews -</h2>
    <% for(let review of camground.reviews) {%>
      <div class="card mb-3" style="width: 28rem;">
        <div class="card-body">
          <h5 class="card-title">Rating : 
            <p class="starability-result mt-2" data-rating="<%= review.rating %>">
              Rated: <%=review.rating  %> stars
            </p>
          </h5>
          <p class="card-text"><%= review.text%></p>
          <p class="card-text ms-auto" style="width: fit-content;">By ~ <%= review.author.username %></p>
         <% if(review && user){%> 
          <% if(review.author._id.equals(user._id)){%>
            <form action="/campgrounds/<%= camground._id %>/review/<%= review._id%>?_method=DELETE" method="post">
              <button class="btn btn-sm btn-danger" style="height: auto; width: fit-content;">
                  <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                  <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                  </svg>
              </button>
              </form>
          <% } %>
          <% } %>
        </div>
      </div>
    <% } %>
    <% }else{ %>
      <h2 class="ms-2">No Reviews</h2>
    <% } %>
  </div>
</div>

<script src="/public/showmappage.js"></script>